body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  /* Transition styles */
  body,
  #new-quote,
  #quote-box {
    background-color: white;
    transition: background-color 1.5s ease;
  }
  
  #text,
  #author,
  #tweet-quote,
  #github {
    color: white;
    transition: color 1.5s ease;
  }

  /*pointer cursor*/

  a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}
  